.htaccess
templates/default/birth_template/
rknew/
templates_c/
*.zip
*.tar.gz
*.sql
*.bak
*.swf
mycontrol/
audios/
data/
db/
homeimages/
images/
mycontrol/
vendor_mgt/
vendors_bk/
wed_admin/
*.htaccess
templates/albums/
templates/default/birth_template/
templates/default/mrg_template1/
templates/default/mrg_template/home_images/
templates/default/mrg_template/screen_images/
editor/
assets/