#pageheddings {font-family: 'England Hand Db'; font-size: 60px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
#subhead {font-family: 'District Light'; font-size: 40px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
.container { font-family: "Josefin Sans"; font-size: 100%; font-weight: bold;}
#about_message {font-weight: normal; }
.alb_slideshow {padding-left: 187px !important;}