#pageheddings {font-family: 'England Hand Db'; font-size: 60px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #DAE884;}
#subhead {font-family: 'District Light'; font-size: 40px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #DAE884;}
.container { font-family: "Josefin Sans"; font-size: 100%; font-weight: bold;}
#about_message {font-weight: normal; }
#about_name {font-family: 'Bonvenocf' ; font-size: 40px; font-weight: normal; -webkit-font-smoothing: antialiased; }
.adp-directions, .adp-summary, .adp-legal{background: antiquewhite;}
.adp-placemark, .adp-warnbox{margin: unset !important;}
.adp-directions {width: 100%;}
