#content { font-size: 13px !important; }
.namesallign {text-align: center  !important; padding-right: 20px; color: #4175BB; font-size: 13px;}
.first_letter {font-size: 15px;}
.home_content {font-size: 13px !important; }