.home_content { font-size: 13px !important; }
.namesallign {text-align: center  !important; padding-right: 20px; color: #F5EF84; font-size: 13px;}
.first_letter {color: #5DAFE7; font-size: 15px;}
#album_con label {width: 200px; }
#signup label {width: 200px; }
.title {font-family: Algerian; }