#content { font-size: 13px !important; }
.namesallign {text-align: right  !important; padding-right: 20px; font-size: 13px;}
.first_letter {font-size: 15px;}
.home_content {font-size: 13px !important; }