#login-btn {margin-top:-10px}
#border_line{ border-bottom: .5px 1px solid #d9d9d9; padding: 1px 24px;}
#welcome-middle-wish {background:url(images/welcome-bg-wish.png) top left repeat-y !important; width:510px !important; margin-left:155px !important;}