.feballoon {
  width: 377px;
  margin: 0 auto;
  padding-top: 44px;
  position: relative;
}

.feballoon > div {
  width: 62px;
  height: 98px;
  background: rgba(182, 15, 97, 0.9);
  border-radius: 0;
  border-radius: 80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
  -webkit-transform-origin: bottom center;
}
.feballoon > div:nth-child(1) {
  background: rgba(182, 15, 97, 0.9);
  left: 10px;
  box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -webkit-animation: balloon1 6s ease-in-out infinite;
  -moz-animation: balloon1 6s ease-in-out infinite;
  -o-animation: balloon1 6s ease-in-out infinite;
  animation: balloon1 6s ease-in-out infinite;
}
.feballoon > div:nth-child(1):before {
  color: rgba(182, 15, 97, 0.9);
}
.feballoon > div:nth-child(2) {
  background: rgba(242, 112, 45, 0.9);
  left: 88px;
  box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
  -webkit-animation: balloon2 6s ease-in-out infinite;
  -moz-animation: balloon2 6s ease-in-out infinite;
  -o-animation: balloon2 6s ease-in-out infinite;
  animation: balloon2 6s ease-in-out infinite;
}
.feballoon > div:nth-child(2):before {
  color: rgba(242, 112, 45, 0.9);
}
.feballoon > div:nth-child(3) {
  background: rgba(45, 181, 167, 0.9);
  left: 158px;
  box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite;
}
.feballoon > div:nth-child(3):before {
  color: rgba(45, 181, 167, 0.9);
}
.feballoon > div:nth-child(4) {
  background: rgba(190, 61, 244, 0.9);
  left: 220px;
  box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
  -webkit-animation: balloon1 5s ease-in-out infinite;
  -moz-animation: balloon1 5s ease-in-out infinite;
  -o-animation: balloon1 5s ease-in-out infinite;
  animation: balloon1 5s ease-in-out infinite;
}
.feballoon > div:nth-child(4):before {
  color: rgba(190, 61, 244, 0.9);
}
.feballoon > div:nth-child(5) {
  background: rgba(180, 224, 67, 0.9);
  left: 294px;
  box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
  -webkit-animation: balloon3 5s ease-in-out infinite;
  -moz-animation: balloon3 5s ease-in-out infinite;
  -o-animation: balloon3 5s ease-in-out infinite;
  animation: balloon3 5s ease-in-out infinite;
}
.feballoon > div:nth-child(5):before {
  color: rgba(180, 224, 67, 0.9);
}
.feballoon > div:nth-child(6) {
  background: rgba(242, 194, 58, 0.9);
  left: 306px;
  box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
  -webkit-animation: balloon2 3s ease-in-out infinite;
  -moz-animation: balloon2 3s ease-in-out infinite;
  -o-animation: balloon2 3s ease-in-out infinite;
  animation: balloon2 3s ease-in-out infinite;
}
.feballoon > div:nth-child(6):before {
  color: rgba(242, 194, 58, 0.9);
}
.feballoon > div:nth-child(7) {
  background: rgba(242, 194, 58, 0.9);
  left: 330px;
  box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite;
}
.feballoon > div:nth-child(7):before {
  color: rgba(242, 194, 58, 0.9);
}
.feballoon > div:before {
  color: rgba(182, 15, 97, 0.9);
  position: absolute;
  bottom: -11px;
  left: 25px;
  content: "▲";
  font-size: 1em;
}
@media (orientation: landscape) {
.feballoon { padding-top: 67px; }
.feballoon { padding-top: 0px; }
}