body {background:url(../sub_12/images/wed_bg.jpg) top center no-repeat #fff;border:0;font:13px Arial,Helvetica,sans-serif;color:#383838;line-height:20px;background-position: center; background-repeat: no-repeat; background-attachment: fixed;}
.pag_con  {background:url(../sub_12/images/head.png) top center no-repeat; padding-bottom: 20px;}
.main {margin: 0 auto;    width: 928px; min-height: 550px;}
header {    height: 270px;    overflow: hidden;    width: 100%;}
/*
.alb_img  {background:url(../sub_12/images/alb_bg.JPG) repeat; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;}
.home_img {background:url(../sub_12/images/alb_bg.JPG) repeat;    text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;} */
#content {    margin-left: 40px;    overflow: hidden;       width: 100%; padding-top: 20px;}
    
.wisher-name {color: #DE8172;}
.wedding-names {color:#DE8172;}
.first_letter{color:#DE8172;}
/* .thirukkural{font-family: French Script MT , Amatic; font-size: 26px;}
 #menu li a:hover, #menu #menu_active a {    color: #b809ef;}  #DE8172 */
#mrgwish {    color: #1D3D92;	}
.button:hover {background:#1d3d92;color:#fff;border:1px solid #1d3d92}
#headmsg1 {    color: #5c471a;    font: 2.5em "Comic Sans MS","Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";    padding-left: 316px;    padding-top: 43px;}
#menu {    overflow: hidden;    padding-left: 187px;    padding-top: 59px;    width: 100%;}
#headmsg2 {text-shadow: 0.2em 0.5em 0.1em #600,
      -0.3em 0.1em 0.1em #060;font-size:35px;  font-family: "Trebuchet MS";padding-top:85px; padding-left:318px;}

#menu li {margin-right: 0; padding-right: 21px;}
.blessing_div {background-color:none; background:url(../sub_8/images/bless_bg.JPG) repeat;}
.center_footer {
    background: url("../sub_6/images/32y.gif") no-repeat scroll center bottom transparent;
      margin-bottom: 5px; padding-bottom: 80px;
}
#headmsg { font-family: "Trebuchet MS";
    font-size: 30px;
    padding-left: 1px;
    text-shadow: 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF; text-align: center; padding-top: 10px; color: #C41D0D;}
#menu li a {
     
  
    
    font-weight: 300;
    line-height: 28px;
    text-decoration: none;
	
	text-shadow: 2px 2px white, -1px -1px #444;font-size:20px;  font-family: "Trebuchet MS";
}
.alb_img  {margin:10px; border:5px double #DE8172;}
.home_img {text-align: center; margin:10px; border:5px double #DE8172; }
.col1 {
    width: 780px;
}