#content { font-size: 13px !important; }
.namesallign {text-align: center  !important; padding-right: 20px; color: #4175BB; font-size: 13px;}
.first_letter {color: #cc3281; font-size: 18px;}
.home_content {font-size: 13px !important; }
#wed_album #wish-form label {width: 200px; }
#signup label {width: 200px; }