#pageheddings {font-family: 'England Hand Db'; font-size: 60px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
#subhead {font-family: 'District Light'; font-size: 40px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
.container { font-family: "Josefin Sans"; font-size: 100%; font-weight: bold;}
#about_message {font-weight: normal; }
body {
	font-family: "Josefin Sans";
    font-size: 17px;
	font-weight: bold;
}

header {height: 360px;}
.alb_slideshow {padding-left: 100px !important;}
.button{border: 1px solid #eb0e0e;}
.about {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.40);
    padding: 10px !important;
}
#menu li a {
    color: #fff;
}