body {background:url(../sub_1/images/header_bg.jpg) top right no-repeat #fff;border:0;font:13px Arial,Helvetica,sans-serif;color:#383838;line-height:20px}

.pag_con  {background:url(../sub_1/images/flower-border-design.png) bottom right no-repeat; margin-bottom: 20px; min-height: 600px;}
.pag_lcon  {background:url(../sub_1/images/flower-border-design1.png) bottom left no-repeat; margin-bottom: 20px; min-height: 600px;}

.main {
    margin: 0 auto;
    width: 928px;
}

header {    height: 329px;    overflow: hidden;    width: 100%;}


#content {
    overflow: hidden;
    padding-bottom: 60px;
    width: 100%;
}

#menu {    
	font-family: monospace;
}

#headmsg { font-family: "Trebuchet MS";
    font-size: 30px;
    padding-left: 1px;
    text-shadow: 0 0 0.2em #C41D0D, 0 0 0.2em #C41D0D, 0 0 0.2em #C41D0D; text-align: center; padding-top: 1px;}
 
#content {
    margin-left: 37px;
    overflow: hidden;
    padding-bottom: 60px;
    width: 100%;
}
/*.alb_img  {background:url(../sub_1/images/alb_bg.JPG) repeat; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;}
.home_img {    text-align: center;	background:url(../sub_1/images/alb_bg.JPG) repeat; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;}*/
.alb_img  {margin:10px; border:5px double #AD1912;}
.home_img {text-align: center; margin:10px; border:5px double #AD1912; }
.blessing_div {background-color: #EDCFB3; }
.col1 {width: 830px;}