#pageheddings {font-family: 'England Hand Db'; font-size: 60px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
#subhead {font-family: 'District Light'; font-size: 40px; font-weight: normal; -webkit-font-smoothing: antialiased; color: #eb0e0e;}
#about_message {font-weight: normal; }
body {
	font-family: "Source Sans Pro";
    font-size: 11px; 
}

header {height: 360px;}
.alb_slideshow {padding-left: 77px !important;}
