#content { font-size: 13px !important; }
.namesallign {text-align: right  !important; padding-right: 20px; color: #4175BB; font-size: 13px;}
.first_letter {color: #4175BB; font-size: 18px;}
.home_content {font-size: 13px !important; }